In [184]:
import pandas as pd
import numpy as np
import datetime

In [185]:
df = pd.read_csv(r'C:\Users\migue\OneDrive\Escritorio\limpio1.csv')

In [186]:
df.head(3)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,production_companies_id,production_companies_names,production_countries_iso,production_countries_names,spoken_languages_iso,spoken_languages_name,belongs_to_collection_id,belongs_to_collection_name,cast_names,director_name
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,[3],['Pixar Animation Studios'],['US'],['United States of America'],['en'],['English'],10194.0,Toy Story Collection,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",John Lasseter
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,"[559, 2550, 10201]","['TriStar Pictures', 'Teitler Film', 'Intersco...",['US'],['United States of America'],"['en', 'fr']","['English', 'Français']",NaN,NaN,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",Joe Johnston
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,"[6194, 19464]","['Warner Bros.', 'Lancaster Gate']",['US'],['United States of America'],['en'],['English'],119050.0,Grumpy Old Men Collection,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",Howard Deutch

In [187]:
# funcion para obtener el día de la semana dada una fecha AAAA-mm-dd
def obtener_dia_semana(fecha):
    # Convertir la cadena de fecha en un objeto datetime
    fecha_obj = datetime.datetime.strptime(fecha, '%Y-%m-%d')
    # Obtener el día de la semana como una cadena (Monday, Tuesday, etc.)
    dia_semana = fecha_obj.strftime('%A')
    return dia_semana


# creo columna con los días de estreno
df['release_day']=df['release_date'].apply(obtener_dia_semana)

In [188]:
# definimos funcion que entrega cantidad de peliculas estrenadas en cierto dia
def cantidad_filmaciones_dia(dia):
    if dia=='Lunes':
        dia1 = 'Monday'
    elif dia =='Martes':
        dia1= 'Tuesday'
    elif dia =='Miercoles':
        dia1= 'Wednesday'
    elif dia =='Jueves':
        dia1= 'Thursday'
    elif dia =='Viernes':
        dia1= 'Friday'
    elif dia =='Sabado':
        dia1= 'Saturday'
    elif dia =='Domingo':
        dia1= 'Sunday'
    else: 
        print('debe colocar un dia de la semana en español con mayuscula y sin tilde')
    
    df_dia = df[df['release_day']==dia1]
    cantidad_peliculas = df_dia.shape[0]

    print(f'{cantidad_peliculas} cantidad de peliculas fueron estrenadas en los días {dia}')

In [189]:
cantidad_filmaciones_dia('Martes')

4644 cantidad de peliculas fueron estrenadas en los días Martes

In [190]:
def cantidad_filmaciones_mes(mes):
    if mes == 'Enero':
        mes1 = 1
    elif mes == 'Febrero':
        mes1 = 2
    elif mes == 'Marzo':
        mes1 = 3
    elif mes == 'Abril':
        mes1 = 4
    elif mes == 'Mayo':
        mes1 = 5
    elif mes == 'Junio':
        mes1 = 6
    elif mes == 'Julio':
        mes1 = 7
    elif mes == 'Agosto':
        mes1 = 8
    elif mes == 'Septiembre':
        mes1 = 9
    elif mes == 'Octubre':
        mes1 = 10
    elif mes == 'Noviembre':
        mes1 = 11
    elif mes == 'Diciembre':
        mes1 = 12
    else:
        print('debe colocar un mes correcto en español con mayuscula y sin tilde')

    df['release_date']=pd.to_datetime(df['release_date'])
    df["mes"] = df["release_date"].dt.month
    peliculas_mes = df[df["mes"] == mes1]
    numero_peliculas = peliculas_mes.shape[0]

    print(f'{numero_peliculas} cantidad de peliculas fueron estrenadas en el mes {mes}')

In [197]:
cantidad_filmaciones_mes('Junio')

3158 cantidad de peliculas fueron estrenadas en el mes Junio

In [191]:
df['title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45446                     Robin Hood
45447            Century of Birthing
45448                       Betrayal
45449               Satan Triumphant
45450                       Queerama
Name: title, Length: 45451, dtype: object

In [192]:
def score_titulo(titulo):
    df_titulo = df[df['title']==titulo]
    anio = df_titulo['release_year'].values[0]
    score = df_titulo['popularity'].values[0]

    print(f'La pelicula {titulo} fue estrenada en el año {anio} con un score/popularidad de {score}')

In [196]:
score_titulo('Toy Story')

La pelicula Toy Story fue estrenada en el año 1995 con un score/popularidad de 21.946943

In [193]:
def votos_titulo(titulo):
    if df['vote_count'].values[0]<2000:
        print ('La pelicula tiene menos de 2000 valoraciones. No se devuelve votos')
    else:
        df_titulo= df[df['title']==titulo]
        anio = df_titulo['release_year'].values[0]
        conteo = df_titulo['vote_count'].values[0]
        puntaje = df_titulo['vote_average'].values[0]
        print(f'La pelicula {titulo} fue estrenada en el año {anio}. La misma cuenta con {conteo} valoraciones, con un promedio de {puntaje}')

In [194]:
votos_titulo('Jumanji')

La pelicula Jumanji fue estrenada en el año 1995. La misma cuenta con 2413.0 valoraciones, con un promedio de 6.9

In [195]:
df['cast_names']

0        ['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...
1        ['Robin Williams', 'Jonathan Hyde', 'Kirsten D...
2        ['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...
3        ['Whitney Houston', 'Angela Bassett', 'Loretta...
4        ['Steve Martin', 'Diane Keaton', 'Martin Short...
                               ...
45446    ['Patrick Bergin', 'Uma Thurman', 'David Morri...
45447    ['Angel Aquino', 'Perry Dizon', 'Hazel Orencio...
45448    ['Erika Eleniak', 'Adam Baldwin', 'Julie du Pa...
45449    ['Iwan Mosschuchin', 'Nathalie Lissenko', 'Pav...
45450                                                   []
Name: cast_names, Length: 45451, dtype: object